<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/animaciones.css">
  <link rel="stylesheet" href="iconos/css/all.min.css">
  <title>loopstudios</title>
</head>

<body>
  <div class="conteiner">
    <header>
      <h1>Loopstudios</h1>
      <div class="menu">
        </form>
        <form method="GET" id="form"> <a href="/">Login</a>
        </form>
        <a href="#">Support</a>
      </div>
    </header>

    <section>
      <div class="principal">
        <p><span>IMMERSIVE</span><span>EXPERIENCES</span><span>THAT DELIVER</span></p>
      </div>
    </section>

    <section>
      <div class="imagen">
        <img src="fotos/fondo.jpg">
      </div>

      <div class="circle">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle2">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle3">
        <svg>
          <circle></circle>
        </svg>
      </div>

      <div class="circle4">
        <svg>
          <circle></circle>
        </svg>
      </div>


      <div class="formulario">


        <p class="titulo">Formulario</p>
        <p class="desarrollo">founded in 2011, Loopstudios has been producing world-class<br>
          virtual reality proyects for some of the best companies around the<br>
          globe. Our aear-winning creations have trasformed<br>
          busiesses through digital experiences that bind to their brand
        </p>


        <form action="/add" method="POST" id="form">
          <input type="text" class="text" name="user" placeholder="ingrese su usuario" autocomplete="off"><br>
          <input type="password" class="text" name="password" placeholder="ingrese sus contrase単a"
            autocomplete="off"><br>

          <input type="text" class="text" name="nombre" placeholder="ingrese sus nombres" autocomplete="off"><br>
          <input type="text" class="text" name="apellido" placeholder="ingrese sus apellidos" autocomplete="off"><br>
          <input type="text" class="text" name="telefono" placeholder="ingrese su telefono" autocomplete="off"><br>
          <input type="text" class="text" name="ciudad" placeholder="ingrese su ciudad de recidencia"
            autocomplete="off"><br>
          <input type="text" class="text" name="pais" placeholder="ingrese su pais de recidencia"
            autocomplete="off"><br>

          <input class="button" type="submit">
          <div class="mensaje">
            <%= mensaje %>
          </div>
        </form>
      </div>
    </section>
  </div>
  </div>

  <footer class="footer">
    <div class="parrafo1">
      <p>
        <span>THE ALANTE BLOG</span>
        <span>OUR TEAM</span>
        <span>ABOUT</span>
        <span>TESTIMONIALS</span>
        <span>CONTACT</span>
        <hr>
      </p>
    </div>

    <div class="iconos">
      <a href="#"><i class="fab fa-facebook-square"></i>
        <p>Facebook</p>
      </a>

      <a href="#"><i class="fab fa-twitter-square"></i>
        <p>Twitter</p>
      </a>

      <a href="#"><i class="fas fa-envelope"></i>
        <p>Gmail</p>
      </a>

      <a href="#"><i class="fab fa-telegram"></i>
        <p>Telegram</p>
      </a>

      <a href="#"><i class="fab fa-pinterest-square"></i>
        <p>Pinterest</p>
      </a>

      <a href="#"><i class="fab fa-google"></i>
        <p>Google</p>
      </a>

      <a href="#"><i class="fab fa-instagram-square"></i>
        <p>Instagram</p>
      </a>

    </div>

    <div class="parrafo2">
      <p>Crea tus mejores dise単os<span>imita dise単os y mejora
          tus habilidades de desarrollador</span></p>

      <i class="fas fa-envelope"><span class="color">dise単os@gmail.com</span></i>


      <i class="fas fa-phone"><span>(508) 746-0033</span></i>
      <i class="fas fa-home"><span>Cartagena mz 7 L15</span></i>
      <hr>
    </div>

    <div class="parrafo3">
      2021 Steven Quintana. derechos reservados | Real Estate advertising by <span class="color">placester</span>
    </div>
  </footer>

</body>

</html>