*{
  margin: 0;
  padding: 0;
}
:root{
  --fondo: url(../fotos/foto.jpg);
  --bg-color:#ffff;
  --bg-color2:rgb(17, 233, 222);
  --bg-color3:rgb(18, 3, 105);
  --bg-color4:#00CF5E;
  --bg-color5:#0003cf; 
  --bg-color6:#3814bb; 
  --bg-color7:#bf5bee; 
  --bg-color8:#e62d2d; 
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.mensaje{
  text-align: center;
  color: var(--bg-color4);
  margin: 50px 0 0 -50px;
  font-size: 30px;
}
.principal{
  width: 100%;
  height: 35em;
  background: var(--fondo);
  background-size: cover;
}

.conteiner{
  width: 100%;
  height: 60em;
}

.principal>p{
  width: 10em;
  height: 4.5em;
  color: var(--bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-color);
  font-size: 50px;
  margin: 4em 0 0 4em;
  padding: 20px 0 0 35px;
}

header>h1{
  color: var(--bg-color);
  position: absolute;
  font-size: 30px;
  padding: 55px 0 0 6.5em;
}

.menu{
  display: flex;
  position: absolute;
  margin: 63px 0 0 41.5em;
}

.menu>a,.menu>form>a{
  text-decoration: none;
  color: var(--bg-color);
  font-size: 15px;
  padding-left:40px;
}

.menu>a:hover,.menu>form>a:hover{
  color:var(--bg-color);
  opacity: 70%;
}

img{
  width: 40em;
  height: 30em;
  margin: 4em 0 6em 9em;
}

.formulario{
  position: absolute;
  background: var(--bg-color);
  width: auto;
  height: auto;
  margin: -18em 0 0 15em;
  padding: 3em 0 0 5em;
}

.titulo{
  font-size: 30px;
}

.desarrollo{
  margin: 15px 0 4em 0;
  opacity: 70%;
}

form{
  display: flex;
  flex-direction: column;
}

.text{
  outline: none;
  width: 30em;
  height: 3em;
  padding-left: 20px;
  border: 1.5px solid black;
  border-radius: 20px;
}

.text:focus{
border: 1.5px solid var(--bg-color3);
}

.button{
  width: 10em;
  height: 3.2em;
  background-color: var(--bg-color2);
  margin-left: 30px;
  outline: none;
  border: none;
  color: var(--bg-color);
  border-radius: 20px;
  margin-left:12em;
  cursor: pointer;
  transition: .3s ease all;
}

.button:hover{
background: var(--bg-color);
color: black;
}

.result2{
  font-size: 30px;
  margin-left: 22px;
}

.result{
  margin-bottom: 40px;
  background: var(--bg-color);
}

h1{
  font-size: 50px;
  color: var(--bg-color2);
}
/*circulos*/

.circle,.circle2,.circle3,.circle4{
  position: absolute;
  z-index: -1;  
}

.circle{
    margin: -40em 0 0 50px;
    stroke: var(--bg-color4);
}

.circle2{
    margin: -40em 0 0 70em;
    stroke: var(--bg-color5);
}
.circle3{
    margin: 4em 0 0 70em;
    stroke: var(--bg-color6);
}

.circle4{
    margin: 4em 0 0 50px;
    stroke: var(--bg-color7);
}


circle{
  cx:70px;
  cy:70px;
  r:60px;
  stroke-width: 5px;
  fill: var(--bg-color);
}

/*pie de pagina*/

.footer{
background-color: black;
position: absolute;
top: 110em;
width: 100%;
height: 500px;
text-align: center;
}

.footer2{
background-color: black;
position: absolute;
top: 120em;
width: 100%;
height: 500px;
text-align: center;
}

.parrafo1, .parrafo2,.parrafo3{
  color:var(--bg-color);
  opacity: 50%;
}

.parrafo1>p{
  padding-top: 25px;
  padding-bottom:25px;
}

.parrafo1>p>span{
  padding-left:20px;
}
.iconos{
  text-align: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 23em;
}
.iconos>a{
    color: var(--bg-color);
  padding-left: 35px;
  text-decoration: none;
}

.iconos>a>p{
  opacity: 50%;
}

.iconos>a>i{
  font-size: 50px;
}

.parrafo2{
  opacity: 100%;
  font-size: 32px;
}


.parrafo2>p>span{
display: block;
font-size: 20px;
margin-bottom:30px;
}

.parrafo2>i>span{
  padding-left: 7px;
}

.parrafo2>i{
  font-size: 22px;
  padding-left: 20px;
}

.parrafo2>hr{
margin-top: 50px;
}

.parrafo3{
  padding-top:20px;
}

.color{
  color:var(--bg-color3);
  opacity: 100%;
}


i:hover,.color:hover{
  color: var(--bg-color2);
  cursor: pointer;
}

/*tabla*/

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid var(--bg-color4);
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:nth-child(5) {
  width: 35%;
}

thead th:nth-child(6  ) {
  width: 25%;
}


thead th:nth-child( 7 ) {
  width: 25%;
}
thead th:nth-child( 8 ) {
  width: 25%;
}
td>a{
  text-decoration: none;
  color: var(--bg-color4);
}
th, td {
  padding: 20px;
}

thead th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

thead {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th {
  background: linear-gradient(to bottom, rgba(17, 218, 158, 0.1), rgba(12, 245, 148, 0.5));
  border: 3px solid var(--bg-color4);
}

